$border-color: dark-light-choose(#ff6600, #fdfbf9);
$bg-color: dark-light-choose(#fdfbf9, #0b264c);
$separator-color: dark-light-choose(#ff6600, #eb5f05);

:root {
  --border-color: #{$border-color};
  --bg-color: #{$bg-color};
  --separator-color: #{$separator-color};
}