$border-color: dark-light-choose(#fdfbf9, #ff6600);
$bg-color: dark-light-choose(#000, #fdfbf9);

:root {
  --border-color: #{$border-color};
  --bg-color: #{$bg-color};
}

body {
  background-color: var(--bg-color);
}

.d-header {
  border-bottom: 8px solid var(--border-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

// Header logos to pure white
.d-header-icons .d-icon,
.header-sidebar-toggle button .d-icon {
  opacity: 1;
  color: var(--header_primary);
}

// Remove ADVERTISEMENT-labeld for DFP, AdSense
.google-adsense-label {
  display: none;
}

.google-dfp-ad-label {
  display: none;
}

// Remove extra space between before ad in categories view
#list-area {
  margin-bottom: 20px;
}

// Hide the dangerous Mailing list mode -setting
.user-preferences .pref-mailing-list-mode {
  display: none;
}

// Header text/lock from gray to white
.extra-info-wrapper span {
  color: #fff;
}

.extra-info-wrapper svg {
  fill: #fff;
}


